<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">

	<display-name>sunway-servlet-jsp</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- ========= FOR SERVLET MAPPING ========= -->
	<servlet>
		<servlet-name>Hello</servlet-name>
		<servlet-class>com.sunway.servlet.HelloWorld</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Hello</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	<!-- ========= FOR SERVLET MAPPING ========= -->

	<!-- ========= FOR CONTEXT PARAM ========= -->
	<context-param>
		<param-name>email</param-name>
		<param-value>abc@example.com</param-value>
	</context-param>
	<!-- ========= FOR CONTEXT PARAM ========= -->

	<!-- ========= FOR INIT PARAM ========= -->
	<servlet>
		<servlet-name>Eg02InitParamServlet</servlet-name>
		<servlet-class>com.sunway.servlet.initparam.Eg02InitParamServlet</servlet-class>
		<init-param>
			<param-name>email</param-name>
			<param-value>pqr@example.com</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Eg02InitParamServlet</servlet-name>
		<url-pattern>/init-param-1</url-pattern>
	</servlet-mapping>
	<!-- ========= FOR INIT PARAM ========= -->

	<!-- ========= FOR SESSION CONFIG ========= -->
	<session-config>
		<cookie-config>
			<max-age>1</max-age>
		</cookie-config>
	</session-config>
	<!-- ========= FOR SESSION CONFIG ========= -->

</web-app>