<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>sunway-servlet-jsp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Hello</servlet-name>
		<servlet-class>com.sunway.servlet.HelloWorld</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Hello</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>

	<!-- For Init Param -->
	<servlet>
		<servlet-name>InitParam</servlet-name>
		<servlet-class>com.sunway.servlet.initparameter.InitParamInXmlServlet</servlet-class>
		<init-param>
			<param-name>my-name</param-name>
			<param-value>Aviskar Basnet</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitParam</servlet-name>
		<url-pattern>/init-param-xml</url-pattern>
	</servlet-mapping>

	<!-- For Session Config -->
	<session-config>
		<cookie-config>
			<max-age>1</max-age>
		</cookie-config>
	</session-config>

	<!-- For Context Param -->
	<context-param>
		<param-name>my-address</param-name>
		<param-value>Kathmandu</param-value>
	</context-param>
</web-app>